<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Page-->
    <title>TerraMon Data</title>
    <!-- Fontfaces CSS-->
    <link th:href="@{css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{fonts/awesome/css/all.css}" rel="stylesheet"> <!--load all styles -->
    <link th:href="@{vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{css/theme.css}" rel="stylesheet" media="all">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>


<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" th:href="@{/data}">
                        <img th:src="@{images/icon/logo.png}" alt="TerraMon"/>
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li>
                        <a th:href="@{/data}">
                            <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li>
                        <a th:href="@{/data/notes}">
                            <i class="fas fa-clipboard"></i>Notes</a>
                    </li>

                    <li>
                        <a th:href="@{/data/settings}">
                            <i class="fas fa-cogs"></i>Settings</a>

                    </li>
                    <li>
                        <a th:href="@{/}">
                            <i class="fas fa-info-circle"></i>About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a th:href="@{/data}">
                <img th:src="@{images/icon/logo.png}" alt="TerraMon"/>
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="active">
                        <a th:href="@{/data}">
                            <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>

                    <li>
                        <a th:href="@{/data/notes}">
                            <i class="fas fa-clipboard"></i>Notes</a>
                    </li>

                    <li>
                        <a th:href="@{/data/settings}">
                            <i class="fas fa-cogs"></i>Settings</a>
                    </li>
                    <li>
                    <a th:href="@{/}">
                    <i class="fas fa-info-circle"></i>About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12" th:style="*{isAlert} ? 'display:block' : 'display:none'">
                            <div class="overview-wrap">
                                <!--                        alerts-->
                                <div class="alert alert-danger col-md-12" role="alert" th:text="${alertMsg}">
                                    This is a danger alert—check it out!
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <div class="row m-t-25">
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="overview-item overview-item--c1">
                                            <div class="overview__inner">
                                                <div class="overview-box clearfix">
                                                    <div class="icon">
                                                        <i class="fas fa-temperature-high"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h2 th:text="${terrarium.getCurrentTemp()}"></h2>
                                                        <span>Current Temperature</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="overview-item overview-item--c2">
                                            <div class="overview__inner">
                                                <div class="overview-box clearfix">
                                                    <div class="icon">
                                                        <i class="fas fa-temperature-high"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h2 th:text="${terrarium.getCurrentTempFromHumiditySensor()}"></h2>
                                                        <span>Current Temperature</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="overview-item overview-item--c3">
                                            <div class="overview__inner">
                                                <div class="overview-box clearfix">
                                                    <div class="icon">
                                                        <i class="fas fa-tint"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h2 th:text="${terrarium.getCurrentHumidity()}"></h2>
                                                        <span>Current Humidity</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="overview-item overview-item--c4">
                                            <div class="overview__inner">
                                                <div class="overview-box clearfix">
                                                    <div class="icon">
                                                        <i class="fas fa-fan"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h2 th:text="${fanStatus} ? 'ON' : 'OFF'"></h2>
                                                        <span>Fan status        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-12">
                            <div class="au-card chart-percent-card">
                                <div class="au-card-inner">
                                    <h3 class="title-2 tm-b-5">Last 100 measurement</h3>
                                    <div class="row no-gutters">
                                        <div class="col-xl-12">
                                            <div id="sevChart">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="au-card chart-percent-card">
                                <div class="au-card-inner">
                                    <h3 class="title-2 tm-b-5">Whole period</h3>
                                    <div class="row no-gutters">
                                        <div class="col-xl-12">
                                            <div id="tempChart">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="au-card chart-percent-card">
                                <div class="au-card-inner">
                                    <h3 class="title-2 tm-b-5">Last 100 measurement</h3>
                                    <div class="row no-gutters">
                                        <div class="col-xl-12">
                                            <div id="sevChartTemp">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="au-card chart-percent-card">
                                <div class="au-card-inner">
                                    <h3 class="title-2 tm-b-5">Whole period</h3>
                                    <div class="row no-gutters">
                                        <div class="col-xl-12">
                                            <div id="allChartTemp">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                                <div class="au-card-title"
                                     style="background-image:url('images/bg-title-01.jpg');">
                                    <div class="bg-overlay bg-overlay--blue"></div>
                                    <h3>
                                        <i class="fas fa-clipboard"></i>Last notes</h3>
                                    <a class="au-btn-plus" th:href="@{/data/notes}">
                                        <i class="zmdi zmdi-plus"></i>
                                    </a>
                                </div>
                                <div class="au-task js-list-load">

                                    <div class="au-task-list">

                                        <div class="au-task__item au-task__item--primary"
                                             th:each="note : ${last3Notes}">
                                            <div class="au-task__item-inner">
                                                <h5 class="task">
                                                    <a th:href="@{/data/notes}" th:text="*{note.title}">title</a>
                                                </h5>
                                                <span class="time" th:text="*{note.addAt}">time</span>
                                            </div>
                                        </div>
                                        <div class="au-task__footer">
                                            <a class="au-btn btn-primary" th:href="@{/data/notes}">Find all</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p th:text="'TerraMon © ' + ${#dates.year(#dates.createNow())}">TerraMon © 2021 <a
                                        href="https://mylink.com/">TerraMon</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>

</div>

<!-- Jquery JS-->
<script th:src="@{vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{vendor/slick/slick.min.js}">
</script>
<script th:src="@{vendor/wow/wow.min.js}"></script>
<script th:src="@{vendor/animsition/animsition.min.js}"></script>
<script th:src="@{vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{js/main.js}"></script>


<script th:inline="javascript">
    /*<![CDATA[*/

    var options = {
        series: [{
            name: 'Temperature',
            data: /*[[${last100midTempList}]]*/ [22, 22, 223, 23, 32]
        }, {
            name: 'Humidity',
            data: /*[[${last100humidityList}]]*/ [22, 22, 223, 23, 32]
        }],

        colors: ["#d24c00", "#05a5d2"],


        chart: {
            type: 'area',
            stacked: false,
            height: 350,
            zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
            },
            toolbar: {
                autoSelected: 'zoom'
            }
        },
        dataLabels: {
            enabled: false
        },
        markers: {
            size: 0.2,
        },
        title: {
            text: 'Last 100 measurement',
            align: 'left'
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
            },
        },
        stroke: {
            width: [4, 4]
        },
        yaxis: [{

            labels: {
                formatter: function (val) {
                    return val.toFixed(1);
                    // return (val / 1000000).toFixed(0);
                },
            },
            title: {
                text: 'Temperature'
            },

        }, {
            opposite: true,


            labels: {
                formatter: function (val) {
                    return val.toFixed(1);
                    //     // return (val / 1000000).toFixed(0);
                },
            },
            title: {
                text: 'Humidity'
            },
        }],
        xaxis: {
            type: 'datetime',
            categories: /*[[${last100dateList}]]*/ [1991 - 02 - 01, 1992 - 02 - 02, 1993 - 02 - 03, 1994, 1995, 1996, 1997, 1998, 1999]
        },
        tooltip: {
            shared: false,
            y: {
                formatter: function (val) {
                    return val.toFixed(1);
                }
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#sevChart"), options);
    chart.render();


    /*]]>*/
</script>


<script th:inline="javascript">
    /*<![CDATA[*/

    var options = {
        series: [{
            name: 'Temperature',
            data: /*[[${midTempList}]]*/ [22, 22, 223, 23, 32]
        }, {
            name: 'Humidity',
            data: /*[[${humidityList}]]*/ [22, 22, 223, 23, 32]
        }],

        colors: ["#d24c00", "#05a5d2"],

        chart: {
            type: 'area',
            stacked: false,
            height: 350,
            zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
            },
            toolbar: {
                autoSelected: 'zoom'
            }
        },
        dataLabels: {
            enabled: false
        },
        markers: {
            size: 0.5,
        },
        title: {
            text: 'All data chart',
            align: 'left'
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
            },
        },
        stroke: {
            width: [4, 4]
        },
        yaxis: [{

            labels: {
                formatter: function (val) {
                    return val.toFixed(1);
                    //     // return (val / 1000000).toFixed(0);
                },
            },
            title: {
                text: 'Temperature'
            },

        }, {
            opposite: true,


            labels: {
                formatter: function (val) {
                    return val.toFixed(1);
                    //     // return (val / 1000000).toFixed(0);
                },
            },
            title: {
                text: 'Humidity'
            },
        }],
        xaxis: {
            type: 'datetime',
            categories: /*[[${dateList}]]*/ [1991 - 02 - 01, 1992 - 02 - 02, 1993 - 02 - 03, 1994, 1995, 1996, 1997, 1998, 1999]
        },
        tooltip: {
            shared: false,
            y: {
                formatter: function (val) {
                    return val.toFixed(1);
                }
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#tempChart"), options);
    chart.render();


    /*]]>*/
</script>


<script th:inline="javascript">
    /*<![CDATA[*/
    var options = {
        series: [{
            name: 'Temp1',
            data: /*[[${last100tempFromTempSensorList}]]*/ [22, 22, 23, 23, 32]
        }, {
            name: 'Temp2',
            data: /*[[${last100tempFromHumiditySensorList}]]*/ [22, 22, 223, 23, 32]
        }],

        colors: ["#0100d2", "#1fd200"],

        chart: {
            type: 'area',
            stacked: false,
            height: 350,
            zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
            },
            toolbar: {
                autoSelected: 'zoom'
            }
        },
        dataLabels: {
            enabled: false
        },
        markers: {
            size: 0.5,
        },
        title: {
            text: 'Last 100 measurement',
            align: 'left'
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
            },
        },
        stroke: {
            width: [4, 4]
        },
        yaxis: {

            labels: {
                formatter: function (val) {
                    return val.toFixed(1);
                    //     // return (val / 1000000).toFixed(0);
                },
            },
            title: {
                text: 'Temperature'
            },

        },
        xaxis: {
            type: 'datetime',
            categories: /*[[${last100dateList}]]*/ [1991 - 02 - 01, 1992 - 02 - 02, 1993 - 02 - 03, 1994, 1995, 1996, 1997, 1998, 1999]
        },
        tooltip: {
            shared: false,
            y: {
                formatter: function (val) {
                    return val.toFixed(1);
                }
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#sevChartTemp"), options);
    chart.render();


    /*]]>*/
</script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var options = {
        series: [{
            name: 'Temp1',
            data: /*[[${tempFromTempSensorList}]]*/ [22, 22, 23, 23, 32]
        }, {
            name: 'Temp2',
            data: /*[[${tempFromHumiditySensorList}]]*/ [22, 22, 223, 23, 32]
        }],
        colors: ["#0100d2", "#1fd200"],
        chart: {
            type: 'area',
            stacked: false,
            height: 350,
            zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
            },
            toolbar: {
                autoSelected: 'zoom'
            }
        },
        dataLabels: {
            enabled: false
        },
        markers: {
            size: 0.5,
        },
        title: {
            text: 'Whole period Temperature Chart',
            align: 'left'
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
            },
        },
        stroke: {
            width: [4, 4]
        },
        yaxis: {

            labels: {
                formatter: function (val) {
                    return val.toFixed(1);
                    //     // return (val / 1000000).toFixed(0);
                },
            },
            title: {
                text: 'Temperature'
            },

        },
        xaxis: {
            type: 'datetime',
            categories: /*[[${dateList}]]*/ [1991 - 02 - 01, 1992 - 02 - 02, 1993 - 02 - 03, 1994, 1995, 1996, 1997, 1998, 1999]
        },
        tooltip: {
            shared: false,
            y: {
                formatter: function (val) {
                    return val.toFixed(1);
                }
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#allChartTemp"), options);
    chart.render();


    /*]]>*/
</script>

</body>

</html>