<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TerraMon Data</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">
</head>

<!-- HEADER MOBILE-->
<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" th:href="@{/data}">
                    <img th:src="@{/images/icon/logo.png}" alt="TerraMon"/>
                </a>
                <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li >
                    <a  th:href="@{/data}">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a th:href="@{/data/notes}">
                        <i class="fas fa-clipboard"></i>Notes</a>
                </li>

                <li >
                    <a th:href="@{/data/settings}">
                        <i class="fas fa-cogs"></i>Settings</a>

                </li>
                <li>
                    <a th:href="@{/home}">
                        <i class="fas fa-info-circle"></i>About</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->

<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a th:href="@{/data}">
            <img th:src="@{/images/icon/logo.png}" alt="TerraMon"/>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li >
                    <a  th:href="@{/data}">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>

                <li>
                    <a th:href="@{/data/notes}">
                        <i class="fas fa-clipboard"></i>Notes</a>
                </li>

                <li class="active">
                    <a  th:href="@{/data/settings}">
                        <i class="fas fa-cogs"></i>Settings</a>
                </li>
                <li>
                    <a th:href="@{/home}">
                        <i class="fas fa-info-circle"></i>About</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->

<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="header-wrap">
                    <div class="header-button">
                        <div class="noti-wrap">
                            <div class="noti__item js-item-menu">
                                <i class="zmdi zmdi-comment-more"></i>
                                <span class="quantity">1</span>
                                <div class="mess-dropdown js-dropdown">
                                    <div class="mess__title">
                                        <p>You have 2 news message</p>
                                    </div>
                                    <div class="mess__item">
                                        <div class="image img-cir img-40">
                                            <img src="images/icon/avatar-06.jpg" alt="Michelle Moreno"/>
                                        </div>
                                        <div class="content">
                                            <h6>Michelle Moreno</h6>
                                            <p>Have sent a photo</p>
                                            <span class="time">3 min ago</span>
                                        </div>
                                    </div>
                                    <div class="mess__item">
                                        <div class="image img-cir img-40">
                                            <img src="images/icon/avatar-04.jpg" alt="Diane Myers"/>
                                        </div>
                                        <div class="content">
                                            <h6>Diane Myers</h6>
                                            <p>You are now connected on message</p>
                                            <span class="time">Yesterday</span>
                                        </div>
                                    </div>
                                    <div class="mess__footer">
                                        <a href="#">View all messages</a>
                                    </div>
                                </div>
                            </div>
                            <div class="noti__item js-item-menu">
                                <i class="zmdi zmdi-email"></i>
                                <span class="quantity">1</span>
                                <div class="email-dropdown js-dropdown">
                                    <div class="email__title">
                                        <p>You have 3 New Emails</p>
                                    </div>
                                    <div class="email__item">
                                        <div class="image img-cir img-40">
                                            <img src="images/icon/avatar-06.jpg" alt="Cynthia Harvey"/>
                                        </div>
                                        <div class="content">
                                            <p>Meeting about new dashboard...</p>
                                            <span>Cynthia Harvey, 3 min ago</span>
                                        </div>
                                    </div>
                                    <div class="email__item">
                                        <div class="image img-cir img-40">
                                            <img src="images/icon/avatar-05.jpg" alt="Cynthia Harvey"/>
                                        </div>
                                        <div class="content">
                                            <p>Meeting about new dashboard...</p>
                                            <span>Cynthia Harvey, Yesterday</span>
                                        </div>
                                    </div>
                                    <div class="email__item">
                                        <div class="image img-cir img-40">
                                            <img src="images/icon/avatar-04.jpg" alt="Cynthia Harvey"/>
                                        </div>
                                        <div class="content">
                                            <p>Meeting about new dashboard...</p>
                                            <span>Cynthia Harvey, April 12,,2018</span>
                                        </div>
                                    </div>
                                    <div class="email__footer">
                                        <a href="#">See all emails</a>
                                    </div>
                                </div>
                            </div>
                            <div class="noti__item js-item-menu">
                                <i class="zmdi zmdi-notifications"></i>
                                <span class="quantity">3</span>
                                <div class="notifi-dropdown js-dropdown">
                                    <div class="notifi__title">
                                        <p>You have 3 Notifications</p>
                                    </div>
                                    <div class="notifi__item">
                                        <div class="bg-c1 img-cir img-40">
                                            <i class="zmdi zmdi-email-open"></i>
                                        </div>
                                        <div class="content">
                                            <p>You got a email notification</p>
                                            <span class="date">April 12, 2018 06:50</span>
                                        </div>
                                    </div>
                                    <div class="notifi__item">
                                        <div class="bg-c2 img-cir img-40">
                                            <i class="zmdi zmdi-account-box"></i>
                                        </div>
                                        <div class="content">
                                            <p>Your account has been blocked</p>
                                            <span class="date">April 12, 2018 06:50</span>
                                        </div>
                                    </div>
                                    <div class="notifi__item">
                                        <div class="bg-c3 img-cir img-40">
                                            <i class="zmdi zmdi-file-text"></i>
                                        </div>
                                        <div class="content">
                                            <p>You got a new file</p>
                                            <span class="date">April 12, 2018 06:50</span>
                                        </div>
                                    </div>
                                    <div class="notifi__footer">
                                        <a href="#">All notifications</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">

                    <!--CURRENT SETTINGS-->

                    <div class="col-lg-12" th:object="${terrarium}">
                        <div class="card">
                            <div class="card-header">
                                <strong>Current Settings</strong>
                            </div>
                            <div class="card-body card-block">
                                <div class="row form-group">
                                    <div class="col col-md-4">
                                        <label class=" form-control-label">Minimum Temperature (send Alert) :</label>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p class="form-control-static" th:text="*{getTempMinAlert() + ' °C'}">MinTemp</p>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-4">
                                        <label class=" form-control-label">Maximum Temperature (send Alert) :</label>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p class="form-control-static" th:text="*{getTempMaxAlert() + ' °C'}">MaxTemp</p>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-4">
                                        <label class=" form-control-label">Minimum Humidity (send Alert) :</label>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p class="form-control-static" th:text="*{getHumidityMinAlert() + ' %'}">MinHum</p>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-4">
                                        <label class=" form-control-label">Maximum Humidity (send Alert) :</label>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p class="form-control-static" th:text="*{getHumidityMaxAlert() + ' %'}">MaxHum</p>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-4">
                                        <label class=" form-control-label">Maximum Humidity (Fan ON) :</label>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p class="form-control-static" th:text="*{getHumidityMaxOkLevel() + ' %'}">MaxHumOk</p>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-4">
                                        <label class=" form-control-label">Minimum Humidity (Fan OFF) :</label>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p class="form-control-static" th:text="*{getHumidityMinOkLevel() + ' %'}">MinHumOk</p>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>


                    <!--Set SETTINGS-->


                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Change Settings</strong>
                            </div>
                            <div class="card-body card-block">
                                <form method="POST" th:action="@{/data/settings}" th:object="${terrarium}"
                                      class="form-horizontal">

                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            <label for="select" class=" form-control-label">Minimum Temperature (send
                                                Alert) :</label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <select name="select" id="select" class="form-control"
                                                    th:field="*{tempMinAlert}">
                                                <option value="0" selected disabled>Please select...</option>
                                                <option th:each="i : ${#numbers.sequence( 20, 50)}" th:value="${i}"
                                                        th:text="${i} + ' °C'">text
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            <label for="select1" class=" form-control-label">Maximum Temperature (send
                                                Alert) :</label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <select name="select" id="select1" class="form-control"
                                                    th:field="*{tempMaxAlert}">
                                                <option value="0" selected disabled>Please select...</option>
                                                <option th:each="i : ${#numbers.sequence( 20, 50)}" th:value="${i}"
                                                        th:text="${i} + ' °C'">text
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            <label for="select2" class=" form-control-label">Minimum Humidity (send
                                                Alert) :</label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <select name="select" id="select2" class="form-control"
                                                    th:field="*{humidityMinAlert}">
                                                <option value="0" selected disabled>Please select...</option>
                                                <option th:each="i : ${#numbers.sequence( 20, 99)}" th:value="${i}"
                                                        th:text="${i} + ' %'">text
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            <label for="select3" class=" form-control-label">Maximum Humidity (send
                                                Alert) :</label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <select name="select" id="select3" class="form-control"
                                                    th:field="*{humidityMaxAlert}">
                                                <option value="0" selected disabled>Please select...</option>
                                                <option th:each="i : ${#numbers.sequence( 20, 99)}" th:value="${i}"
                                                        th:text="${i} + ' %'">text
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            <label for="select4" class=" form-control-label">Maximum Humidity (Fan ON)
                                                :</label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <select name="select" id="select4" class="form-control"
                                                    th:field="*{humidityMaxOkLevel}">
                                                <option value="0" selected disabled>Please select...</option>
                                                <option th:each="i : ${#numbers.sequence( 20, 99)}" th:value="${i}"
                                                        th:text="${i} + ' %'">text
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            <label for="select5" class=" form-control-label">Minimum Humidity (Fan OFF)
                                                :</label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <select name="select" id="select5" class="form-control"
                                                    th:field="*{humidityMinOkLevel}">
                                                <option value="0" selected disabled>Please select...</option>
                                                <option th:each="i : ${#numbers.sequence( 20, 99)}" th:value="${i}"
                                                        th:text="${i} + ' %'">text
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Submit
                                        </button>
                                        <button type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<h3>Terrarium settings</h3>-->
<!--<p th:text="'Min temp =' + *{terrarium.getTempMinAlert()}"></p>-->
<!--<p th:text="'Max temp =' + *{terrarium.getTempMaxAlert()}"></p>-->
<!--<p th:text="'Min humidity =' + *{terrarium.getHumidityMinAlert()}"></p>-->
<!--<p th:text="'Max temp =' + *{terrarium.getHumidityMaxAlert()}"></p>-->
<!--<p th:text="'Fan speed =' + *{terrarium.getDefaultFanSpeed()}"></p>-->

<!--<form method="POST" th:action="@{/data/settings}" th:object="${terrarium}">-->
<!--    <h3>Update your settings :</h3>-->

<!--    <label for="tempMin">Min Temp </label>-->
<!--    <input id="tempMin" type="text" th:field="*{tempMinAlert}"/>-->
<!--    &lt;!&ndash;    <span class="validationError"&ndash;&gt;-->
<!--    &lt;!&ndash;          th:if="${#fields.hasErrors('tempMin')}"&ndash;&gt;-->
<!--    &lt;!&ndash;          th:errors="*{tempMinAlert}">Wrong format</span>&ndash;&gt;-->
<!--    <br/>-->

<!--    <label for="tempMax">Max Temp </label>-->
<!--    <input id="tempMax" type="text" th:field="*{tempMaxAlert}"/>-->
<!--    &lt;!&ndash;    <span class="validationError"&ndash;&gt;-->
<!--    &lt;!&ndash;          th:if="${#fields.hasErrors('tempMax')}"&ndash;&gt;-->
<!--    &lt;!&ndash;          th:errors="*{tempMaxAlert}">Wrong format</span>&ndash;&gt;-->
<!--    <br/>-->

<!--    <label for="humidityMin">Min humidity </label>-->
<!--    <input id="humidityMin" type="text" th:field="*{humidityMinAlert}"/>-->
<!--    &lt;!&ndash;    <span class="validationError"&ndash;&gt;-->
<!--    &lt;!&ndash;          th:if="${#fields.hasErrors('humidityMin')}"&ndash;&gt;-->
<!--    &lt;!&ndash;          th:errors="*{humidityMinAlert}">Wrong format</span>&ndash;&gt;-->
<!--    <br/>-->

<!--    <label for="humidityMax">Max humidity </label>-->
<!--    <input id="humidityMax" type="text" th:field="*{humidityMaxAlert}"/>-->
<!--    &lt;!&ndash;    <span class="validationError"&ndash;&gt;-->
<!--    &lt;!&ndash;          th:if="${#fields.hasErrors('humidityMax')}"&ndash;&gt;-->
<!--    &lt;!&ndash;          th:errors="*{humidityMaxAlert}">Wrong format</span>&ndash;&gt;-->
<!--    <br/>-->

<!--    <label for="defaultFanSpeed">defaultFanSpeed </label>-->
<!--    <input id="defaultFanSpeed" type="text" th:field="*{defaultFanSpeed}"/>-->
<!--    &lt;!&ndash;    <span class="validationError"&ndash;&gt;-->
<!--    &lt;!&ndash;          th:if="${#fields.hasErrors('defaultFanSpeed')}"&ndash;&gt;-->
<!--    &lt;!&ndash;          th:errors="*{defaultFanSpeed}">Wrong format</span>&ndash;&gt;-->
<!--    <br/>-->


<!--    <input type="submit" value="Update settings"/>-->
<!--</form>-->

<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>
</body>
</html>